        <h2>{{selectedGenre.name}}</h2>
        <label>Movies in Genre: <span id="movieCount">{{movieCount}}</span></label>
        <br>
        <label>Average popularity: <span id="avgPopularity">38.26371219512194</span></label>
        <br>
        <label>Popularity cutoff: <input type="number" id="popularityCutoff" value="100"></label>
        <ul id="movieList">
            {{#each movies}}
            <li class="movie" data-popularity="{{popularity}}" data-voteAverage="{{vote_average}}" data-voteCount="{{vote_count}}" title="{{overview}}">{{title}}</li>
            {{/each}}
        </li>
